@media only screen and (max-width:1024px) and (min-width:800px){

body {

 max-width:100%;
}
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.container_12 .grid_12 {
	width:100%;
}
.container_12 .push_1{
left:4%;
}
.container_12 .grid_10{
width:100%;
}
}